* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(36, 36, 35);
}

#description {
    background: rgb(25, 25, 25);
    letter-spacing: 12px;
    text-align: center;
    font-weight: 100;
    padding: 5px;
    margin: 0 0 5px 0;
}
#description a {
    background: rgb(25, 25, 25);
    color: rgb(43, 149, 248);
    text-decoration: none;
}

header {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    background: rgb(25, 25, 25); 
    padding: 4px;
    margin: 0 0 10px 0;
}

#main-title {
    background: rgb(25, 25, 25); 
    margin: 0px 0px 0px 10px;
    font-size: 3em;
    padding: 10px;
    /* border: 1px solid; */
}

#main-title a {
    background: rgb(25, 25, 25);
    color: white;
    text-decoration: none;

}

#content {
    display: flex;
    flex-wrap: nowrap;
}

#content a {
    text-decoration: none;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    margin: 0 35px 0 10px;
}

#sub-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 30%;
}

.box {
    margin: 5px 10px 10px 5px;
    border: 1px solid white;
    border-radius: 20px;
    height: 380px;
    width: 380px;
}
.box h2 {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 200px;
    margin-top: 20px;
    background: transparent;
}

.box p {
    text-align: left;
    padding: 5px;
    background: transparent;
}

#divisor {
    border-bottom: 1px dashed rgb(233, 233, 233);
    height: 1px;
    width: 100%;
}

#Lash-dcs {
   background-image: url(../images/lash.png);
   background-position: center;
   background-size: contain;

}

