* {
    background-color: #242424;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#description {
    background: #191919;
    margin: 0 0 5px 0;
    padding: 5px;
    font-weight: 100;
    letter-spacing: 12px;
    text-align: center;
}
#description a {
    background: #191919;
    color: rgb(43, 149, 248);
    text-decoration: none;
}
header {
    background: #191919; 
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    background: #191919; 
    padding: 4px;
    margin: 0;
}
#main-title {
    background: #191919; 
    margin: 0px 0px 0px 10px;
    font-size: 3em;
    padding: 10px;
}
#main-title a {
    background: #191919;
    color: white;
    text-decoration: none;
}
#content {display: flex;}
#main-content {
    width: 56%;
    margin: 0 0 0 80px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#main-content h1 {
    margin: 0px 0 0 0;
    width: 100%;
    display: flex;
    text-align: center;
}
#main-content img {margin-bottom: 17px}
#main-content p {
    color:#dbdbdb;
    margin: 0 0 13px 0;
    line-height: 24px;
    font-size:1.1em;
}
#main-content h2 {
    color:#dbdbdb;
    width:100%;
    margin: 0 0 10px 0;
}
#main-content h3 {
    color:#dbdbdb;
    width:100%;
    margin: 0 0 10px 0;
    font-size: 1.3em;
}
#main-content h4 {
    color:#dbdbdb;
    width:100%;
    margin: 0 0 10px 0;
}
#main-content ol {
    color:#dbdbdb;
    width:100%;
    margin: 0 0 5px 0;
}
#main-content ol :nth-child(1) {margin: 0 0 15px 0}
#main-content ol :nth-child(2) {margin: 0 0 10px 0}
#main-content li {
    color:#dbdbdb;
    width:100%;
    font-size:1.1em;
}
#main-content a {
    color:rgb(61, 152, 255);
    text-decoration: none;
}
#main-content .command {
    background: #171718;
    color: #ffffff;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    display: inline;
    font-style: oblique;
}
.p {
    padding-left: 20px;
}
#main-content .em {color: #10d310e1;}
#main-content .emb {color: #ff000085;}
#main-content #info {margin: 0 0 15px 43px}
#lowtext {margin:0 0 10px 0}
ol li{
    padding-left: 10px;
    margin-bottom: 15px;
}
ul li p {
    padding-left: 30px;
    padding-top: 5px;
}
#no-dec{
    list-style: none;
}
ol li p {
    padding-left: 15px;
}